werkzeug==0.16.1
numpy
scipy
requests
pandas
matplotlib
Scrapy
scapy>=2.4.1
beautifulsoup4
aniso8601
certifi
chardet
Click
crypto
idna
image
itsdangerous
joblib
jsonschema
MarkupSafe
Naked
olefile
Pillow>=6.2.2
pytz
PyYAML>=4.2b1
shellescape
six
flask-restplus
flask-cors
misaka
waitress
