werkzeug==0.16.1
numpy
scipy
requests
pandas
matplotlib
Scrapy
scapy
beautifulsoup4
aniso8601
certifi
chardet
Click
crypto
idna
image
itsdangerous
joblib
jsonschema
MarkupSafe
Naked
olefile
Pillow
pytz
PyYAML
shellescape
six
flask-restplus
flask-cors
misaka
waitress
